<div class="container">
  <div class="row">
    <div class="col-sm-6 text-left">
      <h3><%= @time_where %></h3>
      <ul class="list-unstyled articles">
        <% @articles_where.each do |article| %>
          <li class="article-list">
            <%= link_to highlight(article.title, params[:q]), article_path(article) %>
            <p>
              <small><%= highlight(article.extract, params[:q]) %></small>
              <small><%#= article.pg_search_highlight.html_safe %></small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <h3><%= @time_pg %></h3>
      <ul class="list-unstyled articles">
        <% @articles.each do |article| %>
          <li class="article-list">
            <%= link_to highlight(article.title, params[:q]), article_path(article) %>
            <p>
              <small><%= highlight(article.extract, params[:q]) %></small>
              <small><%#= article.pg_search_highlight.html_safe %></small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
