<h2><%= @article.title %></h2>

<div>
  <%= link_to edit_article_path(@article) do %><i class="far fa-edit"></i><% end %>

  <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
</div>


<img src="https://picsum.photos/750/250" alt="placeholder">

<p><%= @article.content%></p>

<%= link_to "Back to home page", articles_path%>